/*css resets*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
	/* font-family: 'Open Sans', sans-serif; */

}

body {
	margin:15px;
}

/***********  Home Page   **************/

.landing {
	height: 90vh;
	/*width: 95%*/
	/*margin: 0 auto;*/
}

#logo {
	margin-top: 5px;
}

figcaption {
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.55rem;
	color: #402007;
	letter-spacing: 3px;
}

hr {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #006926;
	margin-bottom: 0;
	margin-top: 0;
}

#logo2 {
	background-image: url("../images/bg1.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 56vh;
	width:100%;
}

.learn1 {
	margin-top: 5%;
	margin-bottom: 30%;
	letter-spacing: 2px;
	font-size: 18px;
}



.btn a {
	text-decoration: none;
	color: #fff;

}

.btn {
	border-radius: 20px;
	background-color: #325438;
	padding-right: 50px;
	padding-left: 50px;
}

.btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*end landing page*/


/* navbar */

.nav-link {
	font-weight: bold;
	color: #402007;
	text-transform: uppercase;
}

#navbar {
	background-color: white;
	padding-bottom: 0;
	padding-top: 0;
	border-bottom: 15px solid #006926;
}

#navbar-nav a:hover {
	color: #006926;
}

.navbar-toggler-icon {
	color: #006926;
	font-size: 30px;
}

/* end navbar */

/* company intro*/

.wrapper {
	background-color: #006926;
	color: white;
	height: 100%;
}

#pas1 {
	box-sizing: content-box;
	margin-top: 10%;
	margin-bottom: 10%;
	
}


#about-promdi {
	margin-top: 15%;
	margin-bottom: 10%;
	padding-top: 5%;

}

#about-promdi > p {
	/*border: 3px solid white;*/
	padding: 8px;
	
}

#about-promdi > h2 {
	/*text-align: right;*/
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 3px;
}



/*end company intro*/

/* services*/

.card-img-top {
    width: 75%;
    height: 15vw;
    object-fit: cover;
    margin: 0 auto;
}

.wrapper2 {
	/*padding-top: 5%;*/
	height: 100vh;
}

.wrapper2 > hr {
	margin-bottom: 10px;
}
	

#services2 {
	text-transform: uppercase;
	font-size: 2.25em;
	color: #006926 ;
	letter-spacing: 3px;
}

#card1,#card2 {
	color:#402007;
	font-size: 1em;
	text-transform: uppercase;


}

#card1 ~ p {
	color:#402007;
	font-size: 15px;
	letter-spacing: none;
}

#card2 ~ p {
	color:#402007;
	font-size: 15px;
	letter-spacing: none;
}

/*end services*/

/*footer */

footer {
	background-color: #006926;
	color: white;
}

#footer {
	padding-top: 20px;
	
}

#footer h5 {
	letter-spacing: 3px;
}

#footer-menu a:link {
	text-decoration: none;
	color: white;
}

#footer-menu a:hover {
	color: #402007;
}

#footer-menu a:visited {
	color: #59bb58;

}

#footer-social a {
	color: white;
}

#footer-social a:hover {
	color: #402007;
}


/*****************************  ABOUT PAGE *********************************/
#vision
 { 
  background-image: url("../images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; 
  box-sizing: content-box;

}



.vision-text h2 {
	text-transform: uppercase;
	margin-top: 10%;
	letter-spacing: 5px;
	color: #006926;
	font-size: 2.5em;
}

.vision-text p {
	padding: 5%;
	margin-left: 7%;
	margin-right: 7%;
	background-color: rgba(89,187,88,.50);

}

#man-promdi {
	color:#006926;
	padding: 5%;
}

#about-promdi p {
	margin-bottom: 0;
}

#about-promdi2 {
	margin-top:10px;
}

#man-behind-promdi h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
}

/******************  CAROUSEL     ***********************/


		#carouselProducts {
			height:100vh;


		}

		#carouselProducts img{
			height:90vh;
		}

		.arrow{
			color:green;
			font-size: 30px;
		}

		#products {
			color: green ;

		}

		.carousel-indicators li {
			margin-bottom: 90px;

		}



		.carousel-item h4 {
			text-transform: uppercase;
			letter-spacing: 5px;
			font-size: 30px;
		}




		.product-text h2 {
			text-transform: uppercase;
			letter-spacing: 5px;
			border-bottom: 5px solid #006926;
			padding-bottom: 15px;
		}

		.product-text p {
			color:#402007;
			text-align: justify;
		  	text-justify: inter-word;
		  	text-indent: 40px;

		}

		.cardbored {
			margin:2%;
		}

		#firstp {
			margin-top: 20px;
		}


		#partners h2 {
		 margin-top: 7%;
		}

		#partnerhr {
			margin-bottom: 7%;
		}

		#partners h2,
		#partners h3 {
			text-transform: uppercase;
			
		}

		.partner-profile {
			margin-bottom: 7%;
		}
/******************** end of carousel ************************/


/****************** CONTACT US **********************/
.contact {
	text-transform: uppercase;
	color: #006926;
	letter-spacing: 3px; 
}




/******************* *********************/
/*mobile style*/
@media only screen and (max-width: 400px) {
	#vision {
		height: 800px;
	}

	#man-behind-promdi h2 {
	text-align: center;
	font-size: 30px;}

	#man-promdi-con {
		margin-top: 15px;
	}

	#products {
		height: 50vh;
	}

	#carouselProducts img{
	height:100vh;
	width: 100vh;
	object-fit: contain;}

	.carousel-indicators {

	margin-bottom: 150px;

	}


}






